# Visual Studio Debug Files
*.pdb
*.ilk
*.idb

# Build directories
cmake-build-debug/
cmake-build-release/
Debug/
Release/
x64/
build/

# Compiled binaries
*.exe
*.dll
*.lib

# Vcpkg (подключается через CMake)
vcpkg_installed/
vcpkg-manifest-install.log

.idea

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
